codecarbon==2.8.3
datasets==3.3.1
ipykernel
matplotlib==3.10.0
numpy
ollama-python==0.1.2
pandas==2.2.3
scikit-learn==1.6.1
seaborn==0.13.2
# tensorflow package is installed separately to manage compatibility across UCloud and MacOS
tqdm==4.67.1
wandb==0.19.6